<main>
  {{#quotes}}
  <div class="quote">
    <div class="strong">URL:</div>
    <div><a href="{{url}}" target="_blank">{{url}}</a></div>
    <div class="strong">Quote:</div>
    <div>{{quote}}</div>
    <div class="strong">Comment:</div>
    <div>{{comment}}</div>
    <br />
  </div>
  {{/quotes}}
</main>

<script>
</script>

<style>
</style>
